@font-face { font-family: 'bpreplay'; font-weight: normal; font-style: normal; src: url('BPreplay-webfont.eot'); src: local('☺'), url('BPreplay-webfont.woff') format('woff'), url('BPreplay-webfont.ttf') format('truetype'), url('BPreplay-webfont.svg#webfontgzJ8Cr4g') format('svg'); }

body { width: 800px; margin: 40px auto; font-family: sans-serif; background: #FFFFFF; color: #330; line-height: 1.5; }
header { display: block; background: url('./divider.png') bottom center no-repeat; padding: 10px 0px; margin: 0px 0px 20px; text-align: center; }
h1 { display: inline; position: relative; margin: 0ex 0ex 1ex 1.2ex; font-family: 'bpreplay', sans-serif; font-weight: normal; font-size: 42px; letter-spacing: 1px; }

h2 { font-family: 'bpreplay', sans-serif; font-weight: normal; font-size: 24px; margin-bottom: 10px; line-height: 1.6; }
  
h3 { margin: 30px 0px 8px; }

p { font-size: 13px; margin: 0px 0px 5px; padding: 0px 0px 1px; }
em { font-style: normal; color: #b1aca0; padding-right: 3px; }
a { color: #330; text-decoration: none; border-bottom: 1px solid; }

ol { padding: 0px; font-size: 11px; color: #C5C1B3; }
ol li p { color: #330; }

pre,
code { background: #EFEEE6; color: #552; font-family: Monaco, Consolas, 'Lucida Console', monospace; font-size: 12px; padding: 0px 3px; }
pre { padding: 4px 8px; }

footer { display: block; margin: 30px 0px 0px; color: #C1BDB0; text-align: center; }
footer a { color: #C1BDB0; border-bottom: 1px solid; margin: 0px 3px; }
footer em { display: block; font-size: 1.2em; font-style: normal; }
footer .ab-c { font-family: 'Andale Mono', 'Courier New', courier; font-size: 0.75em; margin: 50px 0px 0px; padding: 20px 0px; border-top: 1px solid #EFEEE6; }
footer .ab-c a { padding: 0px; }
